<ion-view view-title="Account">
  <ion-content>
<div class="list">

      <div class="item item-button-right" ng-click="addlocation()">
        New Location
        <button class="button button-positive">
          <i class="icon ion-ios-location"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Change Password
        <button class="button button-positive">
          <i class="icon ion-ios-locked"></i>
        </button>
      </div>

      <div class="item item-button-right" ng-click="goHistory()">
        Edit History
        <button class="button button-positive">
          <i class="icon ion-ios-list"></i>
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
